<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>GranPy Bot</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>

</head>
<body class="bg-light">
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col lg-4 md-6 text-light">
          <h1>GrandPy Bot</h1>
          <h4>Plus puissant qu'un somnifère!</h4>
        </div>
        <div class="col d-none d-md-block text-center">
          <img src="{{ url_for('static', filename='logo.png') }}" WIDTH=100 HEIGHT=100 ALT="Logo" />
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6" id="chatVisualizer">
        <div id="chat">
          <p>GrandPy Bot : Bonjour mon enfant, quel lieu aimerais-tu mieux connaître ?</p>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div id="mapid"></div>
      </div>
    </div>
  </div>

  <div class="container ">
    <div class="row">
      <div class="col-12 col-md-6 d-flex justify-content-center" id="researchField">
        <input type="text" id="name"/>
        <button id="target">Envoyer à GrandPy</button>
        <button id="loadbutton" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Recherche..
        </button>
        <div id="response"></div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class='text-center'><a href="https://github.com/Ignotus111/GrandPy-Bot"> Code source</a> - Romain Levasseur</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
  <script src="{{ url_for('static',filename='js/jquery.js')}}"></script>
  <script src="{{ url_for('static',filename='css/bootstrap/js/bootstrap.min.js')}}"></script>
  <script "text/javascript" src="{{url_for('static',filename='js/script.js')}}"></script>

</body>
</html>
