<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>GranPy Bot</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous">
</head>
<body>
  <div class="bg-dark">
    <div class="container">
      <div class="row">
        <div class="col lg-4 md-6">
          <h1>GrandPy Bot</h1>
          <p>Phrase d'accroche Phrase d'accroche Phrase d'accroche Phrase d'accroche Phrase d'accroche</p>
        </div>
        <div class="col d-none d-md-block">
          <img src="{{ url_for('static', filename='logo.png') }}" WIDTH=150 HEIGHT=150 ALT="Logo" />
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <p>Historique de conversation:</p>
        <div id="chat">
        </div>
        <div id="map">

        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <p id=question >Ou voulez-vous aller ?</p>
        <input type="text" id="name"/>
        <button id="target">Rechercher</button>
        <div id="response"></div>
      </div>
    </div>
  </div>

  <div class="bg-light mt-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class='text-center'><a href="https://github.com/Ignotus111/GrandPy-Bot"> Code source</a> - Romain Levasseur</p>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{url_for('static',filename='js/script.js')}}"></script>

</body>
</html>
