<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>GranPy Bot</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>

</head>
<body>
  <div class="bg-dark">
    <div class="container">
      <div class="row">
        <div class="col lg-4 md-6 text-light">
          <h1>GrandPy Bot</h1>
          <p>Phrase d'accroche Phrase d'accroche Phrase d'accroche Phrase d'accroche Phrase d'accroche</p>
        </div>
        <div class="col d-none d-md-block">
          <img src="{{ url_for('static', filename='logo.png') }}" WIDTH=150 HEIGHT=150 ALT="Logo" />
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <p>Historique de conversation:</p>
      </div>
      <div class="d-flex justify-content-center" id="chat">
        <p>bonjour</p>
        <p>aurevoir</p>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div id="mapid" class="d-flex justify-content-center"></div>
  </div>
  <div class="container ">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <input type="text" id="name"/>
        <button id="target">Rechercher</button>
        <div id="response"></div>
      </div>
    </div>
  </div>

  <div class="bg-light mt-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class='text-center'><a href="https://github.com/Ignotus111/GrandPy-Bot"> Code source</a> - Romain Levasseur</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
  <script src="{{ url_for('static',filename='js/jquery.js')}}"></script>
  <script src="{{ url_for('static',filename='css/bootstrap/js/bootstrap.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='js/script.js')}}"></script>

</body>
</html>
